// Colors
$color-ooni-blue: #0588CB;
$color-dark-blue: #046799;
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-footer-background-color: #26292c;
$color-footer-color: #b4b4b4;
$color-blocked: #B83564;
$color-unblocked: #4FD156;
$color-red: #cc0000;

$color-grey-light: #d9d9d9;
$color-grey: #c1c1c1;

$color-off-black: #777777;

$button-border: 1px solid $color-ooni-blue;

// Misc
$base-spacing: 10px;
$border-radius: 3px;

// Other
$transition-speed: .5s;
